### Goal

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os, sys
import pandas as pd
import numpy as np
import math

import matplotlib.pyplot as plt

sys.path.append("../../data_analysis/")
import helper as hp

In [3]:
savepath = "C02_pats_peptides_nterm/"
os.makedirs(savepath, exist_ok=True)

In [4]:
df = pd.read_excel(f"{savepath}Keratin_New_Nterm.xlsx")
df.head(5)

,Peptide_Length,design,n,mpnn,plddt,i_ptm,i_pae,rmsd,seq
0,30,42,1,1.509968,0.799638,0.808957,13.285571,2.820593,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
1,25,23,0,1.432593,0.806934,0.820897,13.783701,3.276818,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
2,12,2,0,1.348224,0.747796,0.804849,13.899733,3.665531,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
3,30,19,1,1.435270,0.772499,0.779678,13.939157,3.340880,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
4,30,42,0,1.455539,0.789172,0.785434,13.998190,3.168916,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...

In [5]:
len(df)

1100

In [6]:
df_sorted = df.sort_values('plddt', ascending=False)
df_sorted.head(5)

,Peptide_Length,design,n,mpnn,plddt,i_ptm,i_pae,rmsd,seq
1,25,23,0,1.432593,0.806934,0.820897,13.783701,3.276818,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
0,30,42,1,1.509968,0.799638,0.808957,13.285571,2.820593,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
8,30,35,0,1.325538,0.796992,0.778869,14.313870,4.351438,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
9,30,2,0,1.431703,0.791420,0.764225,14.391456,3.705964,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
4,30,42,0,1.455539,0.789172,0.785434,13.998190,3.168916,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...

In [7]:
df_sorted_top = df_sorted.head(7)
len(df_sorted_top)

7

In [8]:
df_sorted_top['new_column'] = df_sorted_top['seq'].str.split('/').str[1]
df_sorted_top = df_sorted_top.drop(['seq', 'n', 'design'], axis=1)
df_sorted_top.head(5)

/var/folders/_d/ms_z9zhx5s5f6s0nrt42m9ph0000gn/T/ipykernel_52570/2861460447.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sorted_top['new_column'] = df_sorted_top['seq'].str.split('/').str[1]

,Peptide_Length,mpnn,plddt,i_ptm,i_pae,rmsd,new_column
1,25,1.432593,0.806934,0.820897,13.783701,3.276818,SEMNELANESIAEMEAYARRVNEEL
0,30,1.509968,0.799638,0.808957,13.285571,2.820593,DDMNRKVNEAIAEMEEYAEEVLKELKEEVE
8,30,1.325538,0.796992,0.778869,14.313870,4.351438,HMMDEIIAKANEAIEEFEAYARAQLAELKA
9,30,1.431703,0.791420,0.764225,14.391456,3.705964,SSMMENAIALANEEIARFEAYAERVVAELK
4,30,1.455539,0.789172,0.785434,13.998190,3.168916,DEMNRLANEAIAEMEAYAAAQLEALKARVA

In [9]:
all_peps = df_sorted_top['new_column'].tolist()
len(all_peps)

7

In [10]:
all_peps = list(set(all_peps))
len(all_peps)

7

In [11]:
df_all_peps = pd.DataFrame({'AA': all_peps})
df_all_peps.head(5)

                               AA
0  HMMDEIKKLANESIKEFEEYAEKVLEELKE
1  DEMNRLANEAIAEMEAYAAAQLEALKARVA
2  HMMDEIIAKANEAIEEFEAYARAQLAELKA
3  DDMNRKVNEAIAEMEEYAEEVLKELKEEVE
4       SEMNELANESIAEMEAYARRVNEEL

In [12]:
df_all_peps.to_csv(f"{savepath}nterm_pat.csv", index=False)

In [13]:
len(df_all_peps)

7