### Goal

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os, sys
import pandas as pd
import numpy as np
import math

import matplotlib.pyplot as plt

sys.path.append("../../data_analysis/")
import helper as hp

In [3]:
savepath = "C02_pats_peptides/"
os.makedirs(savepath, exist_ok=True)

In [4]:
df = pd.read_excel(f"{savepath}Cterm_Peps_Keratin.xlsx")
df.head(5)

,Peptide_Length,design,n,mpnn,plddt,i_ptm,i_pae,rmsd,seq
0,15,34,0,1.429089,0.844346,0.856446,13.916696,3.585242,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
1,16,42,0,1.242788,0.831597,0.821451,14.146875,2.723849,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
2,16,42,1,1.281845,0.826156,0.813666,14.249932,2.681284,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
3,15,25,1,1.290887,0.845390,0.844262,14.253083,2.617799,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
4,16,6,0,1.340586,0.827509,0.825388,14.296487,3.423714,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...

In [5]:
len(df)

1100

In [6]:
df_sorted = df.sort_values('plddt', ascending=False)
df_sorted.head(5)

,Peptide_Length,design,n,mpnn,plddt,i_ptm,i_pae,rmsd,seq
3,15,25,1,1.290887,0.845390,0.844262,14.253083,2.617799,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
0,15,34,0,1.429089,0.844346,0.856446,13.916696,3.585242,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
1,16,42,0,1.242788,0.831597,0.821451,14.146875,2.723849,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
4,16,6,0,1.340586,0.827509,0.825388,14.296487,3.423714,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...
2,16,42,1,1.281845,0.826156,0.813666,14.249932,2.681284,NMDCIIAEIKAQYDDIVTRSRAEAESWYRSKCEEMKATVIRHGETL...

In [7]:
df_sorted_top = df_sorted.head(7)
len(df_sorted_top)

7

In [8]:
df_sorted_top['new_column'] = df_sorted_top['seq'].str.split('/').str[1]
df_sorted_top = df_sorted_top.drop(['seq', 'n', 'design'], axis=1)
df_sorted_top.head(5)

/var/folders/_d/ms_z9zhx5s5f6s0nrt42m9ph0000gn/T/ipykernel_52595/2861460447.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sorted_top['new_column'] = df_sorted_top['seq'].str.split('/').str[1]

,Peptide_Length,mpnn,plddt,i_ptm,i_pae,rmsd,new_column
3,15,1.290887,0.845390,0.844262,14.253083,2.617799,SLVELFKRVQELKEK
0,15,1.429089,0.844346,0.856446,13.916696,3.585242,SEFVEMFQRIRELRE
1,16,1.242788,0.831597,0.821451,14.146875,2.723849,SLEELFERNRRLKEEL
4,16,1.340586,0.827509,0.825388,14.296487,3.423714,SLVSLYERVQRLKEEL
2,16,1.281845,0.826156,0.813666,14.249932,2.681284,SLSELFERNRELKERL

In [9]:
all_peps = df_sorted_top['new_column'].tolist()
len(all_peps)

7

In [10]:
all_peps = list(set(all_peps))
len(all_peps)

7

In [11]:
df_all_peps = pd.DataFrame({'AA': all_peps})
df_all_peps.head(5)

                  AA
0   SLEELFERNRRLKEEL
1    SEFVEMFQRIRELRE
2   SLSELFERNRELKERL
3    SDLAALFQRVQELKE
4  GEIVELYKRVQELKEKL

In [12]:
df_all_peps.to_csv(f"{savepath}cterm_pat.csv", index=False)

In [13]:
len(df_all_peps)

7